:root{
   --blue:#5b9be9;
   --blue-navy:#294588;
   --off-white:#F5F5F5;
}

body{
   background-color:var(--off-white) !important;
}

/* background stylings */
.bg-blue{
   background-color:var(--blue) !important; 
}
.bg-blue-navy{
   background-color:var(--blue-navy) !important;
}

.bi-box-arrow-right{
   background: transparent;
   color:white;
}


/*slider at top*/
/*.btn-slider {
   background: rgba(91,156,233,0.8) !important;
   width: 10%;
   height: 5%;
   position: absolute;
   transition: .5s;
}*/

/* buttons */
.btn-blue-navy{
   background:var(--blue-navy) !important;
   color:white !important;
}

/*login reg at top*/
.btn-topbtns {
   background: var(--blue-navy) !important;
   color: white !important;
   width: 10%;

}

/*add shadow outside here*/







/* icons */
.icon-md{
   font-size:30px;
}

/* navbar */
.nav-link{
   
}




/*#register-form {
   position: absolute;
   width: 80%;
   transition: .4s;
}*/

/*#loginform {
   position: absolute;
   width: 98%;
   transition: .4s;
}*/


/*spacing for forms*/
#usernameLogin, #passwordLogin, #firstName, #lastName, #newUserName, #newPassword {
   margin: 1.5%;
}



/*moves login off screen to start and allows it to move when clicked*/
#loginform {
   position: absolute;
   width: 97%;
   left: 100%;
   transition: .5s;
}

/*allows reg form to move when button clicked*/
#register-form {
   position: absolute;
   width: 97%;
   transition: .5s;
   left: 0%;
}
