:root{
   --blue:#5b9be9;
   --blue-navy:#294588;
   --off-white:#F5F5F5;
}

body{
   background-color:var(--off-white) !important;
}

/* background stylings */
.bg-blue{
   background-color:var(--blue) !important; 
}
.bg-blue-navy{
   background-color:var(--blue-navy) !important;
}

.bi-box-arrow-right{
   background: transparent;
   color:white
}

/* buttons */
.btn-blue-navy{
   background:var(--blue-navy) !important;
   color:white !important;
}

/* icons */
.icon-md{
   font-size:30px;
}

/* navbar */
.nav-link{
   
}

